@import '../../../scss/index.scss';

.container {
  .infoResult {
    font-size: 17px;
    color: $white;
    margin: 5px 0px;
  }

  .containerMovies {
    min-height: calc(#{$screen_heiht} - #{$header_height} - #{$footer_height});
  }

  .pagination {
    width: 100%;
    display: grid;
    place-items: center;

    &.fixed {
      position: fixed;
      bottom: 0px;
      left: 0px;

      .paginationContent {
        padding: 10px;
      }
    }

    .paginationContent {
      background-color: $secondary;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      padding: 10px 10px 0px 10px;

      button {
        font-size: 18px;
        margin-bottom: 10px;
      }
    }
  }
}
