@import '../../../scss/index.scss';

.form {
  text-align: center;
  padding: 5px 20px 20px 20px;
  color: black;

  @include small {
    padding: 5px 10px 20px 10px;
  }

  button {
    height: 55px;
    width: 120px;
    margin-left: 5px;
    background-color: $secondary;
    color: $black;
    font-weight: bold;

    @include small {
      width: 60px;
    }
  }

  input {
    background-color: $white;
    border-radius: 5px;
  }
}
