@import "../../../scss/index.scss";

.container {
  color: $white;
  text-align: center;
  padding-top: 40px;
  font-size: 18px;
  min-height: calc(#{$screen_heiht} - #{$header_height} - #{$footer_height});
}
