@import "../../../scss/index.scss";

.loading {
  text-align: center;
  color: $white;
  padding-top: 50px;
  min-height: calc(#{$screen_heiht} - #{$header_height} - #{$footer_height});

  .circularProgress {
    width: 70px !important;
    height: 70px !important;
    margin-bottom: 20px;
  }
}
